//variables
//fonts
$font: 'Roboto', Arial, sans-serif;

//colors
$bg: #ffffff;
$text: #333333;
$grey-lines: #cccccc;
$blue-accident: #268be9;
$orange: #fd8f10;
$text-dark: #8ba3c3;
$light-yellow: #ffc444;
$darker-gradient: #031c33;
$blue: #112e49;
$grey6: #cccccc;
$red: #eb5757;
$y: #fd8f10;

//another
$font-size: 16px;

//layout
@import "layout/mixins";
@import "layout/fonts";
@import "layout/smart-grid";
@import "layout/adjustment";
@import "layout/common";

//sections
@import "sections/header";
@import "sections/index";
@import "sections/slider";
@import "sections/partners";
@import "sections/feed";
@import "sections/about";
@import "sections/advantages";
@import "sections/categories";
@import "sections/works";
@import "sections/cables";
@import "sections/brand";
@import "sections/revs";
@import "sections/consult";
@import "sections/form";
@import "sections/certs";
@import "sections/footer";


.debug {
  //@include debug(rgba(0,0,0,0.3), 1px solid red);
  //z-index: 100;
  //top: 0;
}