extends ../main

block variables
    - var title = 'Главная'

block content
    main.index
        section.index__slider
            .islider
                .container
                    .islider__container.swiper-container
                        .swiper-wrapper
                            each i in [1,2,3,4]
                                .swiper-slide.islider__slide
                                    .islide
                                        .islide__left
                                            h2.islide__title Оптовые поставки кабелей и разъемов
                                            .islide__txt Поставим под ключ все кабели и разъемы для аудио видео светового оборудования, силовые кабели и акустические системы под Вашу спецификацию / проект
                                            a(href='#').islide__link.btn
                                                span.btn__txt Получать прайс-лист
                                                span.btn__icon
                                                    <svg width="20" height="8" viewBox="0 0 20 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                    <path d="M19.8452 4.39274C20.0404 4.19748 20.0404 3.88089 19.8452 3.68563L16.6632 0.503651C16.4679 0.308388 16.1513 0.308388 15.9561 0.503651C15.7608 0.698913 15.7608 1.0155 15.9561 1.21076L18.7845 4.03918L15.9561 6.86761C15.7608 7.06287 15.7608 7.37946 15.9561 7.57472C16.1513 7.76998 16.4679 7.76998 16.6632 7.57472L19.8452 4.39274ZM0.522461 4.53918H19.4916V3.53918H0.522461V4.53918Z" fill="#2F2A23"/>
                                                    </svg>
                                            .islide__grid
                                                .islide__col
                                                    .iscontact
                                                        .iscontact__top
                                                            .iscontact__icon.
                                                                <svg width="28" height="33" viewBox="0 0 28 33" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M21.8213 4.01167C19.7244 1.83301 16.9432 0.63324 13.9891 0.63324C11.0349 0.63324 8.25373 1.83301 6.15771 4.01167C1.86702 8.4703 1.86702 15.7254 6.1558 20.1826L13.1641 27.4956C13.3797 27.7203 13.6775 27.8475 13.9891 27.8475C14.3007 27.8475 14.5985 27.7203 14.8141 27.4956L21.8212 20.1841C26.1119 15.725 26.1119 8.47036 21.8213 4.01167ZM20.1724 18.6011L13.9891 25.0534L7.80428 18.5997C4.35459 15.0144 4.35459 9.1811 7.80428 5.59619C9.46606 3.86965 11.6623 2.91854 13.9891 2.91854C16.3159 2.91854 18.5125 3.86958 20.1739 5.59619C23.624 9.18147 23.624 15.0143 20.1724 18.6011Z" fill="#333333"/>
                                                                <path d="M13.9886 6.3656C11.4473 6.3656 9.37988 8.43304 9.37988 10.9743C9.37988 13.5156 11.4473 15.583 13.9886 15.583C16.5302 15.583 18.5973 13.5156 18.5973 10.9743C18.5973 8.43304 16.5298 6.3656 13.9886 6.3656ZM13.9886 13.2977C12.7073 13.2977 11.6652 12.2556 11.6652 10.9743C11.6652 9.693 12.7073 8.6509 13.9886 8.6509C15.2699 8.6509 16.312 9.693 16.312 10.9743C16.312 12.2556 15.2699 13.2977 13.9886 13.2977Z" fill="#333333"/>
                                                                <path d="M27.7322 31.0337L26.5895 20.8641C26.5247 20.2859 26.0357 19.849 25.454 19.849H19.4742V22.1343H24.4329L25.3188 30.0186H2.66038L3.54629 22.1343H8.5043V19.849H2.52442C1.94278 19.849 1.45411 20.2859 1.38898 20.8641L0.246359 31.0337C0.210173 31.3571 0.313412 31.68 0.530096 31.9227C0.747214 32.1653 1.05687 32.304 1.38211 32.304H26.5968C26.922 32.304 27.2317 32.1654 27.4484 31.9227C27.6652 31.68 27.7683 31.357 27.7322 31.0337Z" fill="#333333"/>
                                                                </svg>
                                                            .iscontact__name Офис:
                                                        .iscontact__txt Москва, ул. Академика Королёва, д.10
                                                .islide__col
                                                    .iscontact
                                                        .iscontact__top
                                                            .iscontact__icon.
                                                                <svg width="28" height="25" viewBox="0 0 28 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                                <path d="M13.9288 5.50226V9.60737H10.3105V5.50226H8.33691V10.5547C8.33691 11.0779 8.7787 11.502 9.32373 11.502H14.9156C15.4606 11.502 15.9024 11.0779 15.9024 10.5547V5.50226H13.9288Z" fill="#333333"/>
                                                                <path d="M26.5932 0.765625H5.54146C5.27995 0.765625 5.02867 0.865407 4.84381 1.04317L0.896535 4.83251C0.711361 5.00997 0.607422 5.2512 0.607422 5.50225V23.691C0.607422 24.2143 1.0492 24.6384 1.59424 24.6384H22.646C22.9079 24.6384 23.1588 24.5383 23.3437 24.3608L27.2909 20.5715C27.4761 20.394 27.58 20.1531 27.58 19.9017V1.71292C27.58 1.18969 27.1383 0.765625 26.5932 0.765625ZM25.6065 19.5095L22.2375 22.7437H2.58101V5.89475L5.95026 2.66027H25.6064V19.5095H25.6065Z" fill="#333333"/>
                                                                <path d="M25.8951 1.04315L22.237 4.55488H1.59375V6.44952H22.6456C22.9074 6.44952 23.1584 6.34974 23.3432 6.17197L27.2904 2.38264L25.8951 1.04315Z" fill="#333333"/>
                                                                <path d="M23.6328 5.50226H21.6592V23.691H23.6328V5.50226Z" fill="#333333"/>
                                                                </svg>
                                                            .iscontact__name Склад:
                                                        .iscontact__txt Москва, Мурманский проезд, д.1А, стр.1
                                        .islide__right
                                            +image('/images/content/content/slider/img.png','islide__img')

                    .islider__nav
                        a(href='#').islider__arr.islider__prev.
                            <svg width="9" height="86" viewBox="0 0 9 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.72269 0.411812C4.52743 0.216553 4.21085 0.216553 4.01559 0.411812L0.83361 3.5938C0.638348 3.78905 0.638348 4.10564 0.83361 4.3009C1.02887 4.49616 1.34545 4.49616 1.54072 4.3009L4.36914 1.47247L7.19757 4.3009C7.39283 4.49616 7.70942 4.49616 7.90468 4.3009C8.09994 4.10564 8.09994 3.78905 7.90468 3.59379L4.72269 0.411812ZM4.8692 85.8834L4.86914 0.765366L3.86914 0.765366L3.8692 85.8834L4.8692 85.8834Z" fill="#BDBDBD"/>
                            </svg>
                        .islider__pag
                        a(href='#').islider__arr.islider__next.
                            <svg width="9" height="86" viewBox="0 0 9 86" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M4.01558 85.5651C4.21085 85.7604 4.52743 85.7604 4.72269 85.5651L7.90467 82.3831C8.09993 82.1879 8.09993 81.8713 7.90467 81.676C7.70941 81.4808 7.39282 81.4808 7.19756 81.676L4.36914 84.5045L1.54071 81.676C1.34545 81.4808 1.02886 81.4808 0.833601 81.676C0.638339 81.8713 0.638339 82.1879 0.833601 82.3831L4.01558 85.5651ZM3.86908 0.0935062L3.86914 85.2116L4.86914 85.2116L4.86908 0.0935056L3.86908 0.0935062Z" fill="#BDBDBD"/>
                            </svg>

