include common/_mixins
include common/_settings
block variables

doctype html
html(lang="ru")
    head
        meta(charset="utf-8")
        meta(content="ie=edge" http-equiv="x-ua-compatible")
        meta(content="width=device-width, initial-scale=1" name="viewport")

        title Portfolio | #{title}
        link(rel='stylesheet' href='css/vendor.min.css')
        link(rel='stylesheet' href='css/main.css')
        // Для изменений после верстки
        link(rel='stylesheet' href='css/custom.css')

        link(rel="apple-touch-icon" sizes="180x180" href="images/favicon/apple-touch-icon.png")
        link(rel="icon" type="image/png" sizes="32x32" href="images/favicon/favicon-32x32.png")
        link(rel="icon" type="image/png" sizes="16x16" href="images/favicon/favicon-16x16.png")
        link(rel="manifest" href="images/favicon/site.webmanifest")
        meta(name="msapplication-TileColor" content="#da532c")
        meta(name="theme-color" content="#ffffff")
    body
        .wrapper
            //- heeader
            header.header
                .container
                    .header__left
                        .logo
                            +image('/images/icons/logo.png')
                    .header__right
                        .header__item
                            .hcontact
                                .hcontact__left
                                    .hcontact__icon.
                                        <svg width="28" height="21" viewBox="0 0 28 21" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M26.37 0.989014H2.0382C1.16475 0.989014 0.454102 1.69966 0.454102 2.57311V19.2379C0.454102 20.1114 1.16475 20.822 2.0382 20.822H26.37C27.2435 20.822 27.9541 20.1113 27.9541 19.2379V2.57311C27.9541 1.69966 27.2435 0.989014 26.37 0.989014ZM26.0532 18.9211H2.35504V2.88995H26.0533V18.9211H26.0532Z" fill="#333333"/>
                                        <path d="M26.5148 3.05661L14.1883 10.4401L1.89371 3.0572L0.915039 4.68695L13.3842 12.1747C13.6418 12.3217 13.9228 12.3949 14.2 12.3949C14.4895 12.3949 14.7747 12.3147 15.0237 12.1557L27.4919 4.68728L26.5148 3.05661Z" fill="#333333"/>
                                        <path d="M18.233 8.87118L16.8301 10.1539L26.3032 20.5142L27.706 19.2315L18.233 8.87118Z" fill="#333333"/>
                                        <path d="M10.1439 8.90021L0.702148 19.2292L2.10523 20.5118L11.547 10.1828L10.1439 8.90021Z" fill="#333333"/>
                                        </svg>

                                .hcontact__right
                                    .hcontact__val sales@mrcable.ru
                                    a(href='sales@mrcable.ru').hcontact__link Отправить запрос


                        .header__item
                            .hcontact
                                .hcontact__left
                                    .hcontact__icon.
                                        <svg width="25" height="28" viewBox="0 0 25 28" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M23.3393 19.3928C21.5582 17.7841 18.5707 16.4627 16.33 16.4052C15.698 16.8648 14.4341 18.3012 13.9744 18.9332C12.653 18.4161 11.2167 16.9223 9.89526 15.3136C8.57384 13.7049 7.36734 11.9813 7.13753 10.6025C7.88441 10.3152 9.4931 9.3385 10.1251 8.76397C10.4698 6.5233 9.78036 3.36339 8.51639 1.29508C7.13752 1.00782 3.92016 0.892909 1.62204 1.86961C0.817694 4.74226 0.990054 10.7174 6.73535 17.9564C12.7105 24.9657 18.5707 26.2871 21.5008 26.0573C22.8222 23.989 23.3393 20.7716 23.3393 19.3928Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                        </svg>

                                .hcontact__right
                                    .hcontact__val + 7 (495) 649-33-39
                                    a(href='+ 7(495)649-33-39').hcontact__link Отправить запрос
                        .header__item
                            button(type='button').hcall
                                span.hcall__icon.
                                    <svg width="45" height="58" viewBox="0 0 45 58" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M37.645 16.1611V16.6611H37.7413V32.4234C37.7335 32.4399 37.7246 32.4585 37.7147 32.4792C37.6676 32.5764 37.596 32.7177 37.5 32.8882C37.3076 33.2304 37.0205 33.6846 36.6422 34.1364C35.8758 35.0515 34.7991 35.8833 33.4265 35.8833C33.3305 35.8833 33.1996 35.8667 33.013 35.8317C32.9032 35.8112 32.7929 35.7881 32.6703 35.7625C32.5784 35.7433 32.4797 35.7226 32.3689 35.7005L32.0189 35.6305L31.839 35.9389C30.5309 38.1813 28.7598 40.0447 26.4285 41.4435L26.1857 41.5891L26.1857 41.6186C23.7714 42.8914 20.9463 42.8624 18.5508 41.5315L18.4375 41.4686H18.3779C18.3549 41.4571 18.3128 41.4364 18.2669 41.4191C18.248 41.4121 18.2254 41.4043 18.1996 41.3972C13.5627 38.5842 10.719 34.0396 10.719 28.6796V28.3463L10.4113 28.2181C9.27356 27.744 8.32537 27.2699 7.66256 26.9148C7.33131 26.7374 7.07179 26.5899 6.89597 26.4873C6.88611 26.4816 6.87652 26.476 6.86719 26.4705V16.1611C6.86719 9.33732 13.7425 2.21667 22.2561 2.21667C30.7696 2.21667 37.645 9.33732 37.645 16.1611Z" stroke="#333333"/>
                                    <path d="M38.145 28.6796V16.5463C38.145 9.4204 31.019 1.813 22.2561 1.813C13.4931 1.813 6.36719 9.5167 6.36719 16.5463V26.85" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M14.0713 38.3093V45.05" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M30.4414 38.3093V45.05" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M32.3948 42.1891L22.7939 51.7899L26.6751 55.6711L36.276 46.0703L32.3948 42.1891Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M12.2308 42.189L8.34961 46.0702L17.9505 55.671L21.8317 51.7898L12.2308 42.189Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M5.69348 30.6056H6.36755V20.9759H5.69348C3.57496 20.9759 1.55273 22.9982 1.55273 25.1167V26.4648C1.55273 28.6797 3.57496 30.6056 5.69348 30.6056Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M38.9163 30.6056H38.2422V20.9759H38.9163C41.2274 20.9759 43.057 22.8056 43.057 25.1167V26.4648C42.9607 28.7759 41.1311 30.6056 38.9163 30.6056Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M34.2934 24.8278V28.2945C34.2934 33.8797 31.4045 38.9834 26.5897 41.8722C26.4934 41.8722 26.4934 41.9686 26.4934 41.9686C23.9897 43.5093 20.8119 43.5093 18.2119 41.9686C18.1156 41.9686 18.0193 41.8722 17.923 41.8722C13.1082 38.9834 10.123 33.8797 10.123 28.2945V20.9759" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M15.9971 9.42038C15.9971 16.1611 29.3823 24.8278 36.2193 24.8278" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M10.2197 20.9759C11.0864 18.0871 15.0345 14.2352 17.9234 14.2352" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M25.2598 36.3833H28.5157H32.5602C34.775 36.3833 36.7009 35.0352 37.4713 33.013L38.049 31.5685L38.1558 28.3992" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    <path d="M23.7006 38.3093H20.8117C19.7524 38.3093 18.8857 37.4426 18.8857 36.3833V35.4204C18.8857 34.3611 19.7524 33.4944 20.8117 33.4944H23.7006C24.7598 33.4944 25.6265 34.3611 25.6265 35.4204V36.3833C25.6265 37.4426 24.7598 38.3093 23.7006 38.3093Z" stroke="#333333" stroke-width="2" stroke-miterlimit="10"/>
                                    </svg>
                                span.hcall__txt
                                    |Бесплатная
                                    br
                                    |консультация


            //- pages
            .page
                block content

            //- footer
            footer.footer

        .debug
            div
                div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div
                    div



        script(src='js/vendor.min.js')
        script(src='js/main.min.js')
        // Для изменений после верстки
        script(src='js/custom.js')
